<div *ngIf="currentThread" class="edit-form">
  <h4>Thread</h4>
  <!--Thread form-->
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
             [(ngModel)]="currentThread.title" name="title"/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
             [(ngModel)]="currentThread.description" name="description"/>
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentThread.published ? "Published" : "Pending" }}
    </div>
  </form>
  <!--Update the status-->
  <button class="badge badge-primary mr-2" *ngIf="currentThread.published" (click)="updatePublished(false)">
    UnPublish
  </button>
  <button *ngIf="!currentThread.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
    Publish
  </button>

  <button class="badge badge-danger mr-2" (click)="deleteThread()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateThread()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<!--If the thread can't be accessed because it doesn't exist-->
<div *ngIf="!currentThread">
  <br />
  <p>Cannot access this Thread...</p>
</div>
